@import '../variables.module.scss';

.about-container {
  @include bigContainer;
  margin: 0rem auto;
  padding: 7rem 2rem;
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  h2 {
    margin-bottom: 2rem;
  }
}

.text-container {
  flex-basis: 60rem;
  flex-grow: 0.3;

  h2 {
    color: $secondary-color;
  }
}

.picture-container {
  display: flex;
  justify-content: center;
  flex-basis: 35rem;
  flex-grow: 1;
  // overflow: hidden;

  img {
    transition: all 0.5s ease-in-out;
    filter: brightness(0.8);
  }

  .picture-outline {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      top: -5%;
      right: -2%;
      width: 100%;
      height: 100%;
      border: 4px solid $secondary-color;

      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    img {
      filter: brightness(0.9);
    }
    pointer-events: none;

    .picture-outline::after {
      top: -3%;
      right: -1%;
    }
  }
}

.align-icon {
  @include align-icon;
  flex-wrap: wrap;

  svg {
    margin-right: 1rem;
  }
}
