@import '../variables.module.scss';

.header {
  padding: 1.5rem 3rem;
  background-color: $header-bg-color;

  position: relative; // for mobile navigation
}

.fixed-header {
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.headerContainer {
  @include bigContainer;
  padding: 0 1rem;
  height: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Inconsolata;
}

.github-icon {
  color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;

  svg {
    transition: all 0.5s ease;
    color: #fff;
  }

  &:hover svg {
    color: $link-default-color;
  }
}

.space-under {
  height: 6rem;
  width: 100%;
}
