@import '../variables.module.scss';

.mobile-navbar {
  display: none;
}

.hamburger {
  width: 3.5rem;
  height: 3.5rem;
  // border: 1px solid white;
  cursor: pointer;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hamburger-line {
    width: 2.6rem;
    height: 0.2rem;
    background-color: white;
    transition: all 0.4s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 2.6rem;
      height: 0.2rem;
      background-color: white;
      transition: all 0.5s ease-in-out;
    }

    &::before {
      top: 22%;
    }

    &::after {
      bottom: 22%;
    }
  }
}

.hamburger.hamburger-menu-open {
  .hamburger-line {
    background: transparent;

    &::before {
      transform: rotate(-45deg);
      transform-origin: right;
    }

    &::after {
      transform: rotate(45deg) translateX(0);
      transform-origin: right;
    }
  }
}

.menu-container {
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: $header-bg-color;
  padding: 0rem 4rem 1rem 4rem;
  z-index: 100;

  li {
    margin: 1.6rem 0;
    font-size: 2rem;
  }
}

@media (max-width: 45em) {
  .mobile-navbar {
    display: flex;
  }
}
