@import './variables.module.scss';

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $background-color;
  color: $text-color-primary;
  font-family: Inter, Roboto, sans-serif;

  font-size: 1.8rem;
}

a {
  position: relative;

  &:visited,
  &:link {
    font-family: inherit;
    text-decoration: none;
    color: $link-default-color;
    font-weight: bold;
  }
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.6rem;
}

p {
  margin-bottom: 1.5rem;
  line-height: 1.35;

  a {
    &::after {
      content: '';
      position: absolute;
      bottom: -3%;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $link-default-color;
      transform: scaleX(0);
      transition: transform 0.4s ease;
      transform-origin: left;
    }

    &:hover::after,
    &:active::after {
      transform: scale(1);
    }
  }
}

.content-container {
  @include bigContainer;
}
