$background-color: #5c4530;
$background-color-shade-1: #35210c;
$text-color-primary: rgb(241, 241, 241);
$header-bg-color: rgb(25, 25, 25);
$link-default-color: rgb(135, 193, 255);
$secondary-color: rgb(111, 208, 0);
$text-color-secondary: rgb(111, 208, 0);
$footer-background-color: rgb(29, 29, 29);

@mixin bigContainer {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0rem 3rem;
}

@mixin align-icon {
  display: flex;
  align-items: center;
}
