@import '../variables.module.scss';

.footerSection {
  background-color: $footer-background-color;
  // clip-path:
}

.footerContainer {
  @include bigContainer;
  padding: 3rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

  div {
    flex-basis: 28rem;
  }
  p {
    margin-bottom: 1rem;
  }

  p a:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.align-icon {
  @include align-icon;

  svg {
    margin-right: 2rem;
  }
}
